body {
    background: #2c5dc7;
    color: rgb(184, 145, 18);
    font-family: Arial, sans-serif;
}

#scroll-container {
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.price {
    margin-left: 16px; /* space after BTC, ETH, etc. */
}

.coin-row {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #afb8cc;
    padding: 14px;
    border-radius: 12px;
}

.coin-row h1 {
    flex: 1;
    font-size: 1.4rem;
}
button {
    border: none;
    padding: 12px 20px;   /* ⬅ bigger button */
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1rem;   /* ⬅ bigger text */
    cursor: pointer;
}


.buy {
    background: #16a34a; /* green */
    color: white;
}

.sell {
    background: #dc2626; /* red */
    color: white;
}

button:hover {
    opacity: 0.85;
}
